.wrapper {
  background: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: black;
}

input {
  color: black;
  margin-top: 3px;
  margin-bottom: 5px;
}

.error {
  height: 20px;
  color: red;
  font-size: 8px;
}

button {
  width: 60px;
  &:first-of-type {
    margin-right: 5px;
  }
}
