.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  height: 150px;
}

.cardsWrapper {
  display: flex;
  position: relative;
}

.cardWrapper {
  position: absolute;
  transition: top ease-in 0.2s;
}

.button {
  width: 80px;
  margin-bottom: 30px;
}
